@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --background-color: #010101; 
  --gradient: linear-gradient(to right, rgb(254, 240, 138), rgb(250, 204, 21), rgb(161, 98, 7));
  --border-width: 1px;
  --border-radius: 5px;
}

body {
  @apply bg-black
}

.gradient-border{
  background: var(--gradient);
  border-radius: var(--border-radius);
  font-weight: 400;
  z-index: 1; 
}

.gradient-border::before{
  content: "";
  display: block;
  height: calc(100% - calc(var(--border-width) * 2));
  width: calc(100% - calc(var(--border-width) * 2));
  background: var(--background-color);
  position: absolute;
  top: var(--border-width);
  left: var(--border-width);
  border-radius: var(--border-radius);
  z-index: -1;
}